.lds-dual-ring {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-100%, 50%);
  display: block;
  width: 14px;
  height: 14px;

   }
   .lds-dual-ring:after {
     content: " ";
     display: block;
     width: inherit;

     height: inherit;
     margin: 8px;
     border-radius: 50%;
     border: 2px solid #fff;
     border-color: #fff transparent #fff transparent;
     animation: lds-dual-ring 1.2s linear infinite;
   }
   @keyframes lds-dual-ring {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
   }
   