
main{
     padding: 45px 0px;

     h1{
          margin: 0;
     }
}


.main__item__wrap {
     margin-top: 39px;     
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-row-gap: 40px;
     grid-column-gap: 32px;

}

article {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     border: 1px solid #E1E1E1;
     max-width: 280px;


     .main__item__content__img{
          max-width: 100%;
          height: 160px;
     }

     h2{
          margin-top: 20px;
     }
     
     .main__item__content__wrap{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
     }
}

.main__item-sold {
     opacity: 0.5;
}

.main__item__content__interaction{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 23px 0px;
     
     .main__item__content__price__wrap {
          margin-right: 21px;
          .main__item__content__price-sale {
               text-decoration: line-through;
               color: #A0A0A0
          }
     }

     
}

.main__item__content__sales-title{
     margin: 35px 0px;
}