.navigation__block__information {
     display: flex;
     align-items: center;
     
     img {
          width: 48px;
          height: 48px;
     }
     
     ul {
          display: flex;
          align-items: center;

          li{
               margin-left: 48px;
          }
     }
}