@import './normalize';
@import './MerriweatherFont';
@import './UIKitStyle';
@import './blocksSCSS/navigation';
@import './blocksSCSS/main';
@import './blocksSCSS/footer';
@import './loader';


body{
     font-family: 'Merriweather';     
}

.main__wrap{
     display: flex;
     flex-direction: column;
     height: 100vh;
}

*{
     box-sizing: border-box;
}

.container {
     width: 1216px;
     margin: 0 auto;
     
}

hr{
     border: none;
     background-color: #E1E1E1;
     height: 1px;  
}
li{
     transition: 0.3s ease-in all;
}

li:hover{
     color: #9F9F9F;
}